.aboutSection {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem 3.1rem 0 3.1rem;
}

.aboutTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 0.3rem 0;
    color: var(--light-mode-h1-color);
}

.subTitle {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 3rem 0;
    color: var(--light-mode-content-color);
}

.aboutContainer {
    text-align: left;
}

.imageRow {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 8rem 0 0 0;
    height: auto;
}

.aboutImage {
    width: 50%;
    margin: 0 0 4rem -2rem;
    height: 20rem;
    border-radius: 8px;
    transform: rotate(-10deg);
    position: relative;
    z-index: 1;
}

.aboutImage:nth-child(2) {
    transform: rotate(5deg);
    margin-left: -5%;
    z-index: 2;
}

.aboutImage:nth-child(3) {
    transform: rotate(-5deg);
    margin-left: -2%;
    z-index: 3;
}

.aboutImage:nth-child(4) {
    transform: rotate(5deg);
    margin-left: -10%;
    z-index: 4;
}

.aboutContent {
    color: var(--light-mode-h1-color);
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 600;
}

.subTitleAbout {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--light-mode-h1-color);
    opacity: 0.9;
}

.dark .aboutSection {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-text-color);
}

.dark .aboutTitle {
    color: var(--dark-mode-h1-color);
}

.dark .subTitleAbout {
    color: var(--dark-mode-content-color);
}

.dark .subTitle {
    color: var(--dark-mode-content-color);
}

.dark .aboutContent {
    color: var(--dark-mode-h1-color);
}

.dark .contactBox {
    border: 1px solid var(--white);
    background: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem 0;
}

.row:last-child {
    margin-bottom: 10rem;
}

.column20 {
    flex: 25%;
}

.column80 {
    flex: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .column20,
    .column80 {
        flex: 100%;
    }

    .aboutSection {
        padding: 1rem 0rem 0 0.4rem;
    }

    .contactBox:nth-child(3) {
        width: 98%;
    }

    .imageRow {
        margin: 1rem 0 0 0;
    }

    .aboutImage {
        width: 100%;
        margin: 0 0 4rem -2rem;
        height: 20rem;
        border-radius: 8px;
        transform: rotate(-10deg);
        position: relative;
        z-index: 1;
    }

    .aboutImage:nth-child(2) {
        display: none;
    }

    .aboutImage:nth-child(3) {
        transform: rotate(10deg);
        margin-left: -20%;
        z-index: 2;
    }

    .aboutImage:nth-child(4) {
        display: none;
    }
}

.contactBox {
    margin-top: 1rem;
    width: 48%;
    padding: 20px;
    background: var(--about-btn);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactBox:nth-child(3) {
    margin-top: 0;
}

.contactBox a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}

.icon {
    margin-right: 10px;
}

.arrowIcon {
    margin-left: auto;
    font-size: 1rem;
}