.heroSection {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 50px;
}

.title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--light-mode-h1-color);
}

.description {
    color: var(--light-mode-content-color);
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.8rem;
}

.link {
    color: var(--link-color);
    text-decoration: underline;
}

.socialLinks {
    margin: 2rem 0 0 0;
}

.button {
    background-color: var(--button);
    color: var(--light-mode-icon-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.8rem;
    font-weight: 500;
}

.button:first-child {
    margin-left: 0;
}

.button:hover {
    background-color: var(--button-hover);
}


/* Dark mode styles */

.dark .heroSection {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-text-color);
}

.dark .title {
    color: var(--dark-mode-h1-color);
}

.dark .description {
    color: var(--dark-mode-content-color);
}

.dark .button {
    background-color: var(--dark-mode-button);
    color: var(--dark-mode-icon-color);
}

.dark .button:hover {
    background-color: var(--button-hover);
}