.heroSection {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 50px;
}

.heroTitle {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--light-mode-h1-color);
}

.heroDescription {
    color: var(--light-mode-content-color);
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.8rem;
}

.socialLinks {
    margin: 2rem 0 0 0;
}

.socialButton {
    background-color: var(--button-background-color);
    color: var(--light-mode-icon-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.8rem;
    font-weight: 500;
}

.socialButton:first-child {
    margin-left: 0;
}

.socialButton:hover {
    background-color: var(--button-hover-background-color);
}

.dark .heroSection {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-text-color);
}

.dark .heroTitle {
    color: var(--dark-mode-h1-color);
}

.dark .heroDescription {
    color: var(--dark-mode-content-color);
}

.dark .socialButton {
    background-color: var(--dark-mode-button-background-color);
    color: var(--dark-mode-icon-color);
}

.dark .socialButton:hover {
    background-color: var(--button-hover-background-color);
}


.pinnedProjects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 2rem;
}

.projectsTitle {
    margin-top: 5rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-mode-content-color);
}

.dark .projectsTitle {
    color: var(--dark-mode-content-color);
}

.projectImage {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.projectTitle {
    font-size: 1rem;
    margin: 1rem 0.4rem 0.4rem 0.2rem;
    color: var(--light-mode-h1-color);
}

.dark .projectTitle {
    color: var(--dark-mode-h1-color);
}

.projectDescription {
    font-size: 0.8rem;
    margin: 0 0.5rem 1rem 0.2rem;
    color: var(--light-mode-content-color);
}

.dark .projectDescription {
    color: var(--dark-mode-content-color);
}

.blogsTitle {
    margin-top: 5rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-mode-content-color);
}

.dark .blogsTitle {
    color: var(--dark-mode-content-color);
}

.blogs {
    margin-top: 2rem;
}

.blog {
    display: flex;
}

.blogDate {
    font-size: 0.9rem;
    margin: 1rem 0rem 1rem 0;
    font-weight: 500;
    color: var(--light-mode-h1-color);
}

.blogLink {
    margin: 1rem 5rem 1rem 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--light-mode-h1-color);
    text-decoration: none;
}

.blogLink:hover {
    text-decoration: underline;
}

.dimmed .blogDate,
.dimmed .blogLink {
    color: var(--light-mode-content-color);
}

.dark .blogDate {
    color: var(--dark-mode-content-color);
}

.dark .blogLink {
    color: var(--dark-mode-h1-color);
}


/* Media Querry*/

@media (max-width: 600px) {
    .heroSection {
        padding: 0 0.4rem;
    }

    .heroTitle {
        font-size: 1.5rem;
    }

    .heroDescription {
        font-size: 0.875rem;
    }

    .pinnedProjects {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    .blogDate,
    .blogLink {
        font-size: 0.7rem;
    }

    .blogDate {
        margin: 1rem 0rem 1rem 0;
    }

    .blog:last-child {
        margin-bottom: 5rem;
    }

    .blogLink {
        margin: 1rem 0rem 1rem 1.5rem;
    }

}