@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fff;
  --black: #000;

  --light-mode-background-color: #fff;
  --light-mode-text-color: #202020;
  --light-mode-theme-icon-color: #646464;
  --light-mode-icon-color: #202020;
  --light-mode-h1-color: #202020;
  --light-mode-h2-color: #4A4A4A;
  --light-mode-content-color: #888888;

  --button-background-color: #f0f0f0a4;
  --button-hover-background-color: #ffffff;

  --nav-text-color: #646464;
  --about-btn: #ebebeb65;

  --dark-mode-background-color: #111111;
  --dark-mode-text-color: #EEEEEE;
  --dark-mode-theme-icon-color: #B4B4B4;
  --dark-mode-icon-color: #EEEEEE;
  --dark-mode-h1-color: #EEEEEE;
  --dark-mode-h2-color: #EEEEEE;
  --dark-mode-content-color: #AFAFAF;
  --dark-mode-dropdown-background-color: #25252583;
  --dark-mode-dropdown-selected-background-color: #7272724d;
  --dark-mode-button-background-color: #191919;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}